<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fozia VueJs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" href="tsolo.css">
  </head>
  <body>
    <div id="app">
      <students class="title">
      </students>
      <div class="form">
        Name: <input v-model="name"><br>
        course: <input v-model="course"><br>
        Period: <input v-model="period">
        <br>
        <button v-on:click="addStudent">Save</button>
      </div>


      <ul>
         <li v-for="student in students" v-bind:key="student.id">
             ID {{student.id}} / Name {{student.name}} / Course {{student.course}}/ Period {{student.period}}
         </li>
     </ul>
    </div>
    <script src="tsolo.js">

    </script>
  </body>
</html>
